* {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	background-image: linear-gradient(120deg, #ff6699, #ffff99);
}

.content {
	width: 50%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 3rem;
	gap: 2rem;
}

.heading h1 {
	/* height: 100px;
	width: 400px; */
	font-size: 2.5rem;
  box-shadow:2px 2px 20px 1px rgb(89, 255, 191);
  padding: 10px;
  background-image: linear-gradient(120deg,#7dff04,#cffa0f);


}

.todo-list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.6rem;
	list-style-type: none;
}

.todo-list li {
	font-size: 2rem;
  font: bold;
	padding: 0.5rem 1.5rem;
  background-color: rgb(246, 209, 255);
  box-shadow:2px 2px 20px 1px rgb(89, 255, 191);
}
.todo-input{
  
  height: 80px;
  width: 400px;
  font-size: 25px;
 
  
}
form input{
  padding-left: 2.5rem;      
  background: rgb(255, 255, 255);
}
form button:hover{
background:rgb(255, 105, 118);

width: 0px;

}
form input:hover{
background:rgb(255, 216, 168) ;
}
 h3 {
	/* height: 100px;
	width: 400px; */
  font-style: oblique;
  margin-top: 0%;
  width: auto;
	/* font-size: 2.5rem; */
  box-shadow:2px 2px 20px 1px rgb(177, 255, 126);
  /* padding: 10px; */
  /* background-image: linear-gradient(120deg,#7dff04,#cffa0f); */


}